@import url(../STYLES/general.css);


  /*================== Header =====================*/
  .navigation-container {
    margin: 0;
    padding: 16px 0;
    position: relative;
    background-color: white;
}

.link:hover {
    text-decoration: underline;
}

.link {
    font: var(--font-style-header2);
}

.navigation {
    border: none;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
    margin: 0;
}

.nav-logo {
    font: var(--font-style-header2);
    color: var(--color-blue);
    background-color: transparent;
}
.profile{
    background-color: transparent;
}

.burger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

.active-link-container{
    margin: 0;
    color: var(--color-red);
    padding: 0;
    width: 100%;
    background-color: var(--color-red);
}

.link-container{
  padding: 0;
  margin: 0;
    background-color: white;
}

.navigation ul.active {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  top: 65px;
  left: 0;
  background-color: white;
  z-index: 1; /* the higher the number, the closer the element is to the user. Default = 0. I set it to one so that the burger menu items are above the logo */
}

.navigation ul {
  top: 0;
  left: 0;
  position: relative;
  padding: 0;
  margin: 0;
  display: none;
}

.navigation ul li {
  padding: 0 25px;
  margin: 16px 0;
  text-align: left;
  width: 100%;
  list-style: none;

}
.burger-menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  margin: 0;
  transition: all 0.3s ease;
}

.burger-menu.open .line:nth-child(1) {
  transform: rotate(45deg);
  position: relative;
  top: 20px;
}

.burger-menu.open .line:nth-child(2) {
  opacity: 0; /* Hide the middle line */
}

.burger-menu.open .line:nth-child(3) {
  transform: rotate(-45deg);
  position: relative;
  top: -8px;
}

.burger-menu .line {
  width: 30px;
  height: 4px;
  background-color: var(--color-blue);
  margin: 5px 0;
  transition: all 0.3s ease;
}
.nav-links{
  margin-top: 0;
}
li{
  background-color: white;
}
.link {
  color: var(--color-blue);
  background-color: white;
}

/*=================HERO=====================*/

.hero {
    height: 362px;
    display: flex;
    flex-direction: row; /* Change from column to row */
    align-items: center;
    padding: 2rem;
    background: var(--color-blue);
    justify-content: space-between; /* Distribute space between children */
    text-align: left;
    overflow: hidden;
  }
.hero-image{
  margin-left: auto; /* Push image to the right */
    position: relative;
    overflow: hidden;
    transform: scale(1.5);
}
.hero-text{
  flex: 0 1 auto;
  max-width: 700px;
}
.hero-text h1{
  font: var(--font-style-header1);
  font-size: 64px;
  color: white;
}
.hero-text p{
  font: var(--font-style-body-text);
  font-size: 24px;
}

  .hero .btn-primary {
    padding: 0.5rem 1rem;
    background-color: var(--color-blue);
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    height: 65px;
    width: 343px;
    font: var(--font-style-header2);
  }
  .social-icons {
    display: flex;
    gap: 20px; /* Space between icons */
    margin: 20px; /* Space above the icons */
    
  }
  
  .social-icons a {
    display: inline-block;
    width: 40px; /* Icon size */
    height: 40px;
  }
  
  .social-icons img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ensure icons fit nicely */
    transition: transform 0.3s ease; /* Add a hover effect */
  }
  
  .social-icons a:hover img {
    transform: scale(1.2); /* Slight zoom on hover */
  }
/*end of hero section*/
.header {
    background-color: var(--color-red);
    color: white;
    padding: 10px;
    text-align: left;
    font: var(--font-style-header2);
    width: 150px;
    border-radius: 0 30px 30px 0;
  }

  .cafe-info {
    padding: 38px 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
  }
  
  .crowd {
    padding: 0;
    margin: 0;
    height: auto;
    width: 100%; /* Default size for smaller screens */
    max-width: 100px; /* Adjust for mobile-friendly scaling */
  }
.cafe-rating{
  padding: 0;
  margin: 0;
  height: auto;
  width: 100%; /* Default size for smaller screens */
    max-width: 300px; /* Adjust for mobile-friendly scaling */
}
  
  .cafe-info p {
    padding: 0;
    margin: 0;
   color: var(--color-blue);
    font: var(--font-style-header1);
  }

  .first-dollar{
    color: var(--color-red);
  }

  .second-dollar{
    color: #D3D3D3;
  }
/*MOVIES*/

.event-container {
    padding: 1rem;
}

.event-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2.25rem;
    justify-content: center;

}

.event-card {
    background-color: transparent;
    padding: 1rem;
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    
}

.event-card img {
    max-width: 100%;
    height: auto;
}
.title-container{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.title-director{
    display: flex;
    flex-direction: column;
}
.title{
    font: var(--font-style-header2);
    align-items: left;
    padding: 0;
    margin: 0;
}
.star-image img {
       width: 150px;
       object-fit: contain;
    }

.director{
    padding: 0;
    margin: 0;
    font: var(--font-style-body-lighttext);
}
.time-container {
    background-color: white;
    display: flex; /* Enables flexbox for child elements */
    flex-wrap: wrap; /* Allows wrapping to the next row if necessary */
    gap: 10px; /* Adds spacing between the time divs */
    margin-top: 10px; /* Adjusts spacing from elements above */
    justify-content: space-between;
}
.time {
    font: var(--font-style-body-text);
    margin: 0; /* Removes margin for better alignment */
    padding: 2px 5px; /* Adds padding inside the time boxes */
    width: 80px; /* Keeps the width consistent */
    height: 20px; /* Ensures height consistency */
    border: 1px solid var(--color-blue); /* Keeps the border styling */
    text-align: center; /* Centers text horizontally */
}
.movie-time{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.movie-time p{
    font: var(--font-style-body-lighttext);
}

.movie-time-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.event-low{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.event-low h2{
    color: var(--color-red);
    font: normal lighter 20px/1.2 'Plus Jakarta Sans', sans-serif;
}
.get-tickets {
    background-color: transparent;
    padding: 1px 19.5px 6px 19.5px;
justify-content: center;
align-items: center;
font: var(--font-style-body-text);
font-size: 20px;
	color: var(--color-red);
    border-radius: 30px;
border: 1px solid var(--color-red);
}
.get-tickets:hover{
    background-color: var(--color-red);
  color: white;
  cursor: pointer;
}

/*MENU*/

.menu-container{
  margin: 40px 0;
  
}
.menu-title{
  font: var(--font-style-header2);
  padding: 16px;
  border-top: solid 1px var(--color-blue);
}
  .last{
  font: var(--font-style-header2);
  padding: 16px;
  border-top: solid 1px var(--color-blue);
  border-bottom: solid 1px var(--color-blue);
}
.last.open {
  border-bottom: none;
}

.list {
    list-style: none;
    padding: 16px;
    margin: 0;
    font: var(--font-style-body-text);
}

.list li {
  background-color: transparent;
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.drink-name {
    flex-shrink: 0; /* Prevents shrinking of the name */
}

.dots {
    flex-grow: 1; /* Fills the space between name and price */
    border-bottom: 1px dotted #000; /* Creates the dotted line */
    margin: 0 10px; /* Adds spacing around the dots */
    height: 0;
}

.price {
    flex-shrink: 0; /* Keeps the price fixed to the right */
    text-align: right;
}

.menu-section h2{
    background-color: var(--color-red);
    color: white;
    padding: 10px;
    text-align: left;
    font: var(--font-style-header2);
    width: 150px;
    border-radius: 0 30px 30px 0;
}

/*FORUM*/

.forum-title{
    background-color: var(--color-red);
    color: white;
    padding: 10px;
    text-align: left;
    font: var(--font-style-header2);
    width: 150px;
    border-radius: 0 30px 30px 0;
}
.post{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post img{
  padding-right: 16px;
}
.post p{
  font: var(--font-style-header2);
  padding-left: 16px;
}
.forum-text {
  font: var(--font-style-body-lighttext);
  align-content: center;
  padding: 16px;
  border: none;
  height: 43px;
  width: calc(100% - 32px); /* Full width minus 16px margins on each side */
  margin: 0 16px; /* 16px margin on left and right */
  box-sizing: border-box; /* Ensures padding and border are included in width calculation */
}

#publish {
  display: block; /* Makes the button a block-level element */
  margin-left: auto;
  margin-right: 16px; /* Aligns button to the left with same margin as textarea */
  margin-top: 10px; /* Adds some space between textarea and button */
}

.forum button{
  background-color: transparent;
    padding: 1px 19.5px 6px 19.5px;
justify-content: center;
align-items: center;
font: var(--font-style-body-text);
font-size: 20px;
	color: var(--color-red);
    border-radius: 30px;
border: 1px solid var(--color-red);
}

.forum button:hover{
  background-color: var(--color-red);
  color: white;
  cursor: pointer;
}
.comments-container {
  display: flex;             /* Enable flexbox layout */
  flex-direction: column;    /* Stack comments vertically */
}
.comment {
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: white;
  padding: 16px;
  max-width: 100%;
  margin: 16px;
}

.profile-pic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 16px;
}

.comment-content {
  display: flex;
  flex-direction: column;
    position: relative;
  flex: 1;
}


.name {
  margin: 0;
  padding: 0;
  font: var(--font-style-header2);
}

.review-date {
  margin: 0;
  padding: 0;
  font: var(--font-style-body-text);
}

.location {
  position: absolute;
  top: 0px;
  right: 0px;
  font: var(--font-style-body-lighttext);
  margin: 0;
  text-align: right;
  flex-shrink: 0;
}

.comment-rating {
  gap: 5px;
  padding: 0;
  margin: 0;
}

.star {
  font-size: 18px;
  color: #ccc;
}

.star.filled {
  color: #f39c12;
}

.comment-text {
  font: var(--font-style-body-text);
  line-height: 1.5;
  margin: 0;
  max-height: 100px; /* Added to hide part of the comment initially */
    overflow: hidden; /* Added to hide overflow text */
    transition: max-height 0.3s ease; /* Added to enable smooth transition */
}

.see-more {
  margin-top: 10px;
  font: var(--font-style-header2);
  color: var(--color-red);
  cursor: pointer;
  text-decoration: none; /* Added styles for "See More" link */
  display: inline-block;
  align-self: flex-end;
}

.hidden-comments {
    display: none;
    flex-direction: column;
}

.see-more-posts{
  margin: 10px 20px;
  font: var(--font-style-header2);
  color: var(--color-red);
  cursor: pointer;
  text-decoration: none; /* Added styles for "See More" link */
  display: inline-block;
  align-self: flex-end;
}

/*map*/
.info{
  padding-left: 16px;
}
.info h2{
  font: var(--font-style-header2);
}

.info p{
  font: var(--font-style-body-text);
}
.info-container {
    padding: 0;
    text-align: left;
    background-color: var(--color-light-grey); /* Optional background color */
  }

.location-text{
    background-color: var(--color-red);
    color: white;
    padding: 10px;
    text-align: left;
    font: var(--font-style-header2);
    width: 150px;
    border-radius: 0 30px 30px 0;
}

.mapstyle {
  width: 100%; 
  height: 400px;
}

.footer {
  background-color: var(--color-red);
  color: #fff;
  padding: 20px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  max-width: auto;
  margin: 0 auto;
}

/* Logo Section */
.logo-section {
  color: var(--color-blue);
  text-align: left;
  flex: 1;
  min-width: 200px;
}

.logo {
  font: var(--font-style-header1);
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.home-link,
.logout-link {
  font: var(--font-style-body-text);
  display: block;
  font-size: 0.9rem;
  color: var(--color-blue);
  text-decoration: none;
  margin: 5px 0;
}

/* Navigation */
.footer-nav {
  display: inline;
  flex: 2;
  min-width: 300px;
  text-align: left;
  align-items: center;
  align-content: center;
}

.footer-nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font: var(--font-style-header2);
}

.footer-nav a:hover {
  text-decoration: underline;
}

/* Newsletter Section */
.newsletter-section {
  text-align: left;
  flex: 1;
  min-width: 250px;
}

.newsletter-section p {
  font: var(--font-style-body-text);
  margin-bottom: 10px;
  font-size: 1rem;
}

.highlight {
  font-weight: bold;
}

.newsletter-form {
  display: flex;
  align-items: center;
}

.newsletter-form input {
  padding: 15px 20px;
  border: none;
  flex-grow: 1;
  max-width: auto;
  font: var(--font-style-body-lighttext);
}

.newsletter-form button {
  padding: 10px 20px;
  border: none;
  background-color: var(--color-blue);
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  font: var(--font-style-header2);
}

.newsletter-form button:hover {
  background-color: white;
  color: var(--color-red);
}
/*POP UP*/

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.popup.hidden {
  display: none;
}

.popup-content {
  background: white;
  padding: 20px;
  text-align: center;
  max-width: 500px;
  width: 80%;
  position: relative; /* Allow for absolute positioning of price */
}

.popup-content img {
  width: 50%;
  height: auto;
  margin: 0 auto 15px;
  display: block;
}

.popup-description h2 {
  font: var(--font-style-header2);
  margin:  0;
  text-align: left; /* Align title to the left */
}

.popup-director{
  font: var(--font-style-body-lighttext);
  margin: 0;
  text-align: left; /* Align text to the left */
}

.popup-desc{
  font: var(--font-style-body-text);
  color: var(--color-blue);
  margin: 5px 0;
  text-align: left; /* Align text to the left */
}

.popup-footer {
  display: flex;
  justify-content: space-between; /* Space between price and button */
  align-items: center;
  margin-top: 15px;
}

#popup-price {
  position: absolute;
  font: var(--font-style-header2);
  color: var(--color-red);
}

.get-tickets-pop {
  margin-left: auto; /* Push the button to the right */
  background-color: transparent;
    padding: 1px 19.5px 6px 19.5px;
justify-content: center;
align-items: center;
font: var(--font-style-body-text);
font-size: 20px;
	color: var(--color-red);
    border-radius: 30px;
border: 1px solid var(--color-red);
}

.get-tickets-pop:hover{
  background-color: var(--color-red);
color: white;
cursor: pointer;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
  color: #333;
}

.close:hover {
  color: #555;
}


@media (max-width: 768px) {
    .hero {
      flex-direction: column; /* Stack text and image vertically */
      align-items: center; /* Center-align content */
      text-align: center; /* Center text alignment */
      padding: 0; /* Adjust padding for smaller screens */
  
    }
  
    .hero-text {
      order: 1; /* Ensure text appears first */
      margin-bottom: 0; /* Add spacing below the text */
      text-align: center; /* Align text to center */
      padding: 1rem;
    }
  
    .hero-image {
      order: 2; /* Ensure image appears after the text */
      margin: 0 auto; /* Center the image horizontally */
      transform: scale(1.12); /* Optional: Reset scale for mobile */
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100vh; /* Optional: Makes the image fill the entire viewport height */
      overflow: hidden;
    }
    .hero-image img {
      position: relative;
      margin-top: 0;
      padding: 0;
      height: 100%;
      width: 100%;
      object-fit: cover; /* Ensures the image covers the container */
      object-position: top center; /* Aligns the top edge of the image to the container */
      transform: scale(1); /* Make the image 20% larger */
    }
  
    .hero-text h1 {
      font-size: 32px; /* Reduce heading size for smaller screens */
    }
  
    .hero-text p {
      font-size: 18px; /* Reduce paragraph text size for smaller screens */
    }
  
    .info {
      flex-direction: row;
      height: 150px; /* Maintain consistent height */
      align-items: center;
      justify-content: center;
  }
  
  .info-image {
      width: 40%;
      object-fit: contain;
  }
  
  .info-text {
      width: 60%;
      text-align: center;
      font-size: 20px;
      padding: 0;
      margin: 0;
  }
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
  
  .logo-section,
  .footer-nav,
  .newsletter-section {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .footer-nav a {
    display: block;
    margin: 5px 0;
  }
  
  .newsletter-form {
    flex-direction: column;
    width: 100%;
  }
  
  .newsletter-form input {
    margin-right: 0;
    margin-bottom: 10px;
    width: 88%;
    font: var(--font-style-body-lighttext);
  }
  
  .newsletter-form button {
    width: 100%;
    font: var(--font-style-header2);
  }
  .social-icons {
    flex-direction: row; /* Ensure icons are in a single row */
    justify-content: center; /* Center icons */
  }

  .comment-text {
    max-height: 80px; /* Reduced max-height for mobile */
}

  .see-more{
    display: inline-block;
  }

  .crowd {
    width: 70px; /* Smaller size for phones */
  }

  .cafe-rating{
    width: 200px; /* Smaller size for phones */
  }
  .cafe-info p {
    font-size: 1.4em; /* Adjust text size for phones */
  }
  }

  @media (min-width: 768px) {
    .see-more {
        display: none; /* Hide the "See More" button on larger screens */
    }
  
}

  
  
    
    